body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#todoList {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  background-color: #f44336;
}

.fa-solid {
  pointer-events: none;
}
