$primary-color: rgb(255, 108, 0);
$primary-color-rgb: rgba(255, 108, 0, 0.3);
$font-color: rgb(48, 48, 48);
$detail-color: rgb(255, 255, 255);
$inactive-color: rgb(157, 164, 189);
$dark--bg-trans: rgba(25, 28, 38, 0.7);
$dark--blue: rgb(25, 28, 38);
$dark--bg: rgb(48, 48, 48);
$light--secondary: rgb(247, 247, 247);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
