:root {
  --main-color: rgb(72 135 195);
}
/* * {
  background-color: red;
} */
h2 {
  color: purple;
}

p {
  color: blue;
}

#identificadorTitulo {
  color: red;
}

/* Simepre utilizar selectores de clase */
.claseTitulo {
  color: green;
}

input[type="text"] {
  background-color: blueviolet;
  color: white;
  border: 10px dotted black;
  /* font-family: 'Courier New', Courier, monospace; */
}

ul li {
  color: brown;
}

.listado > li {
  color: blue;
}

.mainButton {
  background: var(--main-color);
  color: green;
  cursor: pointer;
}

.mainButton:hover {
  background-color: blue;
}

.mainButton:focus {
  background-color: rgb(117, 0, 128);
}

.link:active {
  background-color: red;
}

.link:visited {
  color: rgb(0, 255, 8);
}

h1 {
  color: pink;
}

h1 {
  color: rgb(168, 65, 82);
}

h1 {
  color: #6fa841;
}

h1 {
  color: hsl(93, 44%, 46%);
}

h1 {
  color: hwb(93 26% 34%);
}

h1 {
  /* position: absolute;
  top: 0;
  font-size: 4rem; */
  color: rgba(0, 0, 0, 0.3);
}

h1 {
  color: var(--main-color);
}
