body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

#temporizador {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 30px;
}

.button-container button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #45a049;
}
