@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  margin: 0;
  list-style: none;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.link {
  text-decoration: none;

  &:visited {
    color: $primary-color;
  }
}

//Buttons
.card {
  .card__body {
  }
}

.card__logo {
}

@media (max-width: 1224px) {
  .card {
    background-color: brown;
  }
}
