* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.kOqhQd {
  margin-right: 8px;
  height: 40px;
  width: 40px;
}

.brand {
  font-size: 26px;
  font-weight: bold;
  color: rgb(98, 98, 98);
}

.card {
  position: relative;
  cursor: pointer;
}

.view {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
.a-none {
  color: unset;
  text-decoration: none;
}

.a:hover > * {
  color: unset;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100%;
  top: 0;
  transition: all 0.3s ease-in;
  transform: scale(1);
}
.modalOPT2 {
  width: 580px;
  height: auto;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.cursor-pointer {
  cursor: pointer;
}
