@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --primary-color: rgb(255, 108, 0);
  --font-color: rgb(48, 48, 48);
  --detail-color: rgb(255, 255, 255);
  --inactive-color: rgb(157, 164, 189);
}

/* Layout */
.aside {
  background-color: var(--detail-color, blue);
}
.hero {
  background-color: rgba(62, 72, 177, 0.68);
}
.about {
  background-color: rgba(177, 96, 62, 0.68);
}
.services {
  background-color: rgba(177, 62, 142, 0.68);
}
.rating {
  background-color: rgba(62, 177, 114, 0.68);
}
.team {
  background-color: rgba(62, 72, 177, 0.68);
}
.gallery {
  background-color: rgba(177, 96, 62, 0.68);
}
.contact {
  background-color: rgba(177, 62, 142, 0.68);
}
.header {
  background-color: rgba(62, 177, 114, 0.68);
}
/* Fin Layout */
.aside__navigation .aside__link {
  color: var(--font-color);
}
.aside__navigation .aside__link:hover {
  color: var(--primary-color);
}

.hero__navigation .hero__link {
  color: var(--detail-color);
}
.hero__navigation .hero__link:hover {
  color: var(--primary-color);
}

.hero__contact .contact__link {
  color: var(--detail-color);
}
.hero__contact .contact__link:hover {
  color: var(--primary-color);
}

.primary-button {
  color: var(--detail-color);
  background-color: transparent;
  border-radius: 25px;
}
.primary-button:hover {
  color: var(--primary-color);
}

/* Hero */
.hero__texts {
  color: var(--detail-color);
}
.hero__texts p {
  line-height: 1.66;
  letter-spacing: 0.02em;
}
.carrousel .carrousel__item {
  color: var(--inactive-color);
  cursor: pointer;
}

.carrousel .carrousel__item:hover {
  color: var(--detail-color);
}
/* About */
.about__texts {
  color: var(--font-color);
}
/* Services */
.services__texts {
  color: var(--detail-color);
}

.services__list .services__item {
  color: var(--inactive-color);
}
/* Rating & Team Texts*/
.rating__list > .rating__item {
  background-color: var(--detail-color);
  color: var(--font-color);
}

.rating__texts,
.team__texts {
  color: var(--font-color);
}

/* Contact */
.addres__list .addres__link {
  color: var(--detail-color);
}

.text-detail {
  color: var(--detail-color);
}
/* Footer */
.footer__navigation .footer__link {
  color: var(--font-color);
}
.footer__navigation .footer__link:hover {
  color: var(--primary-color);
}
.sombra {
  transition: all 0.3s;
}

.hero__navigation .current {
  color: var(--primary-color);
}
/* .sombra:hover {
  font-size: 3rem;
  text-shadow: 10px 10px 2px black;
} */

/* Font Stylesk */
.link-font-style {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.section-upper-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.section-lower-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
.section-lower-text-secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}
.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
}

.subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.04;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
}
.card-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.3;
}
.card-description {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.3;
}
