@import './colors.scss';
@import './normalizacion.scss';

/* Layout */

.aside {
  background-color: rgb(255, 0, 0);
}

.hero {
  background-color: $dark--bg-trans;
  height: 100vh;
}

.hero--hero__bg {
  background-color: $dark--bg-trans;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(255, 165, 0, 0.3) 5%,
      rgba(156, 101, 0, 0.3) 15%,
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  /* background-color: rgba(177, 96, 62, 0.68; */
}

.services {
  /* background-color: rgba(177, 62, 142, 0.68; */
  background-color: $dark--bg-trans;
}

.rating {
  /* background-color: rgba(62, 177, 114, 0.68; */
}

.team {
  background-color: $light--secondary;
}

.gallery {
  /* background-color: rgba(177, 96, 62, 0.68; */
}

.reserv {
  width: 50%;
}

.contact {
  background-color: $dark--blue;
}

.header {
  width: 100%;
  z-index: 10;
  position: absolute;

  /* position: fixed; */
  /* background-color: rgba(0, 0, 0, 0.5; */
  backdrop-filter: blur(3px);
  padding: 0 32px;
}

/* Fin Layout */

.aside__navigation .aside__link {
  color: $font-color;

  &:hover {
    color: $primary-color;
  }
}

.header__links {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;

  .header__link {
    transition: color 0.25ms $cubic;
    color: $detail-color;

    &:hover {
      color: $primary-color;
    }
  }

  .current {
    color: $primary-color;
  }
}

.header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.header__link-contact {
  color: $detail-color;

  &:hover {
    color: $primary-color;
  }
}

.hero_main-titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary-button {
  color: $detail-color;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  border-color: $primary-color;
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $primary-color;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 0.25ms $cubic, color 0.25ms $cubic;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

.primary-button--text-dark {
  color: $detail-color;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  border-color: $primary-color;
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $primary-color;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 0.25ms $cubic, color 0.25ms $cubic;
  color: $font-color;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

/* Hero */

.hero__texts {
  color: $detail-color;
  display: flex;
  flex-direction: column;
  width: 515px;

  p {
    line-height: 1.66;
    letter-spacing: 0.02em;
  }
}

.carrousel {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.carrousel__item {
  color: $inactive-color;
  cursor: pointer;
  border-bottom: 1px solid $inactive-color;

  &:hover {
    color: $detail-color;
  }
}

/* About */

.about__texts {
  color: $font-color;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* Services */

.services .primary-button {
  margin-bottom: 130px;
  margin-top: 50px;
}

.services__texts {
  color: $detail-color;
}

.services__list .services__item {
  display: flex;
  flex-basis: 48%;
  color: $inactive-color;
}

/* Rating & Team Texts*/

.rating__list {
  flex-basis: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.rating__texts {
  flex-basis: calc((100% - 30px) / 2);
}

.rating__list > .rating__item {
  background-color: $light--secondary;
  color: $font-color;
  width: 170px;
  flex-basis: calc((100% - 30px) / 2);
  max-width: 170px;
  height: 130px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:nth-last-child(odd) {
    margin-top: 30px;
  }

  > {
    .count {
      font-weight: 700;
      font-size: 42px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.05em;
      margin: 0;

      &::after {
        content: '+';
        color: $primary-color;
        font-size: 16px;
      }
    }

    .benefits {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;
      text-align: center;
      margin-bottom: 6px;
    }
  }
}

.rating__texts,
.team__texts {
  color: $font-color;
}

/* Contact */

.addres__list .addres__link {
  color: $inactive-color;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.addres__item {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.text-detail {
  color: $detail-color;
}

.text-light {
  color: $light--secondary;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 73px 56px;
}

.footer__navigation {
  display: flex;
  gap: 30px;

  .footer__link {
    color: $font-color;

    &:hover {
      color: $primary-color;
    }
  }
}

.sombra {
  transition: all 0.3s;
}

/* .sombra:hover {
  font-size: 3rem;
  text-shadow: 10px 10px 2px black;
} */

/* Font Stylesk */

.link-font-style {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.upper-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.lower-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.lower-text--secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
  margin: 20px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.04;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
}

.card__title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.3;
}

.card-description {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.team__list {
  display: flex;
  gap: 30px;

  .team-item {
    width: 370px;
    flex-basis: calc((100% - 30px * 2) / 3);
    height: 502px;

    /* display: inline-block; */

    .card-description {
      color: $primary-color;
    }
  }
}

/* Flex */

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.about__container {
  display: flex;
}

.about__list {
  flex-basis: calc((100% - 10px) / 2);
}

.pv-main {
  padding: 40px 0;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.about__gallery {
  display: flex;
  gap: 30px;
}

.about__img {
  flex-basis: calc((100% - 44px) / 2);
}

.services__container {
  display: flex;
  flex-direction: column;
}

.services__list {
  display: flex;
}

.services__data,
.rating__container {
  display: flex;
  justify-content: space-between;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.w-50 {
  width: 100%;
}

.services__inner {
  width: 100%;
  padding: 30px;
  background-color: $font-color;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-contact-section {
  display: flex;
  flex-wrap: wrap;

  .contact__msg {
    width: 50%;
  }
}

.contact__reserv {
  width: 50%;
}

.secondary-text {
  color: $inactive-color;
}

.services--bg {
  background-color: $dark--bg-trans;
  background-image: url('../img/prices-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact__bg {
  background-image: url('../img/contacts-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.upper-text {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &::before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 1px;
    background-color: $inactive-color;
  }
}

.icons__list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.icons__link {
  background-color: $detail-color;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms $cubic;
}

.icons__item {
  &:hover {
    border: 1px solid black;

    > .icons__link {
      background-color: $primary-color;
      cursor: pointer;
      outline: none;
    }
  }

  &:focus > .icons__link,
  &:focus-within > .icons__link {
    background-color: $primary-color;
    cursor: pointer;
    outline: none;
  }
}

.icon {
  transition: fill 250ms $cubic;
}

.icons__item {
  &:hover .icon,
  &:focus .icon,
  &:focus-within .icon {
    fill: $detail-color;
  }
}

.container__img {
  position: relative;
  overflow: hidden;
}

.team-item:hover .img-text {
  cursor: pointer;
  transform: translateY(-100%);
}

.img-text {
  transform: translateY(0);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: $primary-color-rgb;
  padding: 32px;
  transition: transform 0.3s ease;
  backdrop-filter: blur(3px);
}

.relative {
  position: relative;
}

/* CAmbiar */

.text-white {
  color: white;
}

/* + Selecciona su primer hermano adyacente */
/* ~ Selecciona cualquier hermano adyacente */

.group {
  position: relative;
}

.group__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: top 250ms $cubic, font-size 250ms $cubic;
}

.group__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 8px 0;

  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active {
    outline: none;
  }

  &:focus + .group__label,
  &:focus-within + .group__label,
  &:focus-visible + .group__label,
  &:not(:placeholder-shown) + .group__label {
    top: -8px;
    font-size: 9px;
  }
}

// Button
%button {
  padding: 16px;
  text-align: center;
  margin: 4px;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.button--primary {
  @extend %button;
  background-color: green;
  // &:hover {
  //   background-color: pink;
  // }
}
.button--secondary {
  @extend %button;
  background-color: rgb(0, 38, 128);
}
.button--warning {
  @extend %button;
  background-color: rgb(128, 0, 0);
}

.link-custom {
  @extend %button;
}

@mixin spacing($color: white, $border: 1px solid red, $customPadding: 0) {
  padding: calc(16px + $customPadding);
  text-align: center;
  margin: 4px;
  color: $color;
  border: $border;
}

.button--mixin {
  background-color: rgb(128, 0, 0);
  @include spacing(green, none, 14px);
}

@mixin flexPositionning($justify, $align) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
}

.buttons__container {
  @include flexPositionning(center, center);
}

$sizes: 8px, 16px, 32px;
@each $size in $sizes {
  .font-#{$size} {
    font-size: $size;
  }
}

$colors: red, yellow, blue;
@each $color in $colors {
  .bg--color-#{$color} {
    background-color: $color;
  }
}

$weight: (
  'normal': 400,
  'bold': 700,
  'bolder': 900,
);

.weight-normal {
  font-weight: map-get($weight, 'normal');
}

.weight-bold {
  font-weight: map-get($weight, 'bold');
}

.weight-bolder {
  font-weight: map-get($weight, 'bolder');
}

.aboutu {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: top 250ms $cubic, font-size 250ms $cubic;
  & .__firstSection {
    background-color: red;
  }
  & .__secondSection {
    background-color: red;
  }
  & > .aboutIcon {
    background-color: green;
    &:hover {
      background-color: yellow;
    }
  }
  &:hover {
    background-color: blue;
  }
}

@media (min-width: 1224px) {
  .card {
    background-color: brown;
  }
  .text--random {
    font-size: 4rem;
  }
}
