@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Open Sans", "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  margin: 0;
  list-style: none;
}

.img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  text-decoration: none;
}
.link:visited {
  color: rgb(255, 108, 0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1224px) {
  .card {
    background-color: brown;
  }
}
/* Layout */
.aside {
  background-color: rgb(255, 0, 0);
}

.hero {
  background-color: rgba(25, 28, 38, 0.7);
  height: 100vh;
}

.hero--hero__bg {
  background-color: rgba(25, 28, 38, 0.7);
  height: 100vh;
  background-image: linear-gradient(to top, rgba(255, 165, 0, 0.3) 5%, rgba(156, 101, 0, 0.3) 15%, rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  /* background-color: rgba(177, 96, 62, 0.68; */
}

.services {
  /* background-color: rgba(177, 62, 142, 0.68; */
  background-color: rgba(25, 28, 38, 0.7);
}

.rating {
  /* background-color: rgba(62, 177, 114, 0.68; */
}

.team {
  background-color: rgb(247, 247, 247);
}

.gallery {
  /* background-color: rgba(177, 96, 62, 0.68; */
}

.reserv {
  width: 50%;
}

.contact {
  background-color: rgb(25, 28, 38);
}

.header {
  width: 100%;
  z-index: 10;
  position: absolute;
  /* position: fixed; */
  /* background-color: rgba(0, 0, 0, 0.5; */
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 0 32px;
}

/* Fin Layout */
.aside__navigation .aside__link {
  color: rgb(48, 48, 48);
}
.aside__navigation .aside__link:hover {
  color: rgb(255, 108, 0);
}

.header__links {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
  align-items: center;
}
.header__links .header__link {
  transition: color 0.25ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(255, 255, 255);
}
.header__links .header__link:hover {
  color: rgb(255, 108, 0);
}
.header__links .current {
  color: rgb(255, 108, 0);
}

.header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.header__link-contact {
  color: rgb(255, 255, 255);
}
.header__link-contact:hover {
  color: rgb(255, 108, 0);
}

.hero_main-titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  border-color: rgb(255, 108, 0);
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid rgb(255, 108, 0);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 0.25ms cubic-bezier(0.4, 0, 0.2, 1), color 0.25ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-button:hover {
  background-color: rgb(255, 108, 0);
  cursor: pointer;
}

.primary-button--text-dark {
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  border-color: rgb(255, 108, 0);
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid rgb(255, 108, 0);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 0.25ms cubic-bezier(0.4, 0, 0.2, 1), color 0.25ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(48, 48, 48);
}
.primary-button--text-dark:hover {
  background-color: rgb(255, 108, 0);
  cursor: pointer;
}

/* Hero */
.hero__texts {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 515px;
}
.hero__texts p {
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.carrousel {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.carrousel__item {
  color: rgb(157, 164, 189);
  cursor: pointer;
  border-bottom: 1px solid rgb(157, 164, 189);
}
.carrousel__item:hover {
  color: rgb(255, 255, 255);
}

/* About */
.about__texts {
  color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* Services */
.services .primary-button {
  margin-bottom: 130px;
  margin-top: 50px;
}

.services__texts {
  color: rgb(255, 255, 255);
}

.services__list .services__item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 48%;
  color: rgb(157, 164, 189);
}

/* Rating & Team Texts*/
.rating__list {
  flex-basis: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.rating__texts {
  flex-basis: calc((100% - 30px) / 2);
}

.rating__list > .rating__item {
  background-color: rgb(247, 247, 247);
  color: rgb(48, 48, 48);
  width: 170px;
  flex-basis: calc((100% - 30px) / 2);
  max-width: 170px;
  height: 130px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rating__list > .rating__item:nth-last-child(odd) {
  margin-top: 30px;
}
.rating__list > .rating__item > .count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0;
}
.rating__list > .rating__item > .count::after {
  content: "+";
  color: rgb(255, 108, 0);
  font-size: 16px;
}
.rating__list > .rating__item > .benefits {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 6px;
}

.rating__texts,
.team__texts {
  color: rgb(48, 48, 48);
}

/* Contact */
.addres__list .addres__link {
  color: rgb(157, 164, 189);
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.addres__item {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.text-detail {
  color: rgb(255, 255, 255);
}

.text-light {
  color: rgb(247, 247, 247);
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 73px 56px;
}

.footer__navigation {
  display: flex;
  gap: 30px;
}
.footer__navigation .footer__link {
  color: rgb(48, 48, 48);
}
.footer__navigation .footer__link:hover {
  color: rgb(255, 108, 0);
}

.sombra {
  transition: all 0.3s;
}

/* .sombra:hover {
  font-size: 3rem;
  text-shadow: 10px 10px 2px black;
} */
/* Font Stylesk */
.link-font-style {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.upper-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.lower-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.lower-text--secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
  margin: 20px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.04;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.3;
  color: rgb(255, 108, 0);
}

.card__description {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.team__list {
  display: flex;
  gap: 30px;
}
.team__list .team-item {
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
  height: 502px;
  /* display: inline-block; */
}
.team__list .team-item .card-description {
  color: rgb(255, 108, 0);
}

/* Flex */
.header__navigation {
  display: flex;
  justify-content: space-between;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
}

.about__list {
  flex-basis: calc((100% - 10px) / 2);
}

.pv-main {
  padding: 40px 0;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.about__gallery {
  display: flex;
  gap: 30px;
}

.about__img {
  flex-basis: calc((100% - 44px) / 2);
}

.services__container {
  display: flex;
  flex-direction: column;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__data,
.rating__container {
  display: flex;
  justify-content: space-between;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  flex-basis: calc((100% - 90px) / 4);
}

.w-50 {
  width: 100%;
}

.services__inner {
  width: 100%;
  padding: 30px;
  background-color: rgb(48, 48, 48);
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-contact-section {
  display: flex;
  flex-wrap: wrap;
}
.all-contact-section .contact__msg {
  width: 50%;
}

.contact__reserv {
  width: 50%;
}

.secondary-text {
  color: rgb(157, 164, 189);
}

.services--bg {
  background-color: rgba(25, 28, 38, 0.7);
  background-image: url("../img/prices-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact__bg {
  background-image: url("../img/contacts-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.upper-text {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.upper-text::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgb(157, 164, 189);
}

.icons__list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.icons__link {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons__item:hover > .icons__link {
  background-color: rgb(255, 108, 0);
  cursor: pointer;
  outline: none;
}
.icons__item:focus > .icons__link, .icons__item:focus-within > .icons__link {
  background-color: rgb(255, 108, 0);
  cursor: pointer;
  outline: none;
}

.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons__item:hover .icon, .icons__item:focus .icon, .icons__item:focus-within .icon {
  fill: rgb(255, 255, 255);
}

.container__img {
  position: relative;
  overflow: hidden;
}

.team-item:hover .img-text {
  cursor: pointer;
  transform: translateY(-100%);
}

.img-text {
  transform: translateY(0);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: rgba(255, 108, 0, 0.3);
  padding: 32px;
  transition: transform 0.3s ease;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.relative {
  position: relative;
}

/* CAmbiar */
.text-white {
  color: white;
}

/* + Selecciona su primer hermano adyacente */
/* ~ Selecciona cualquier hermano adyacente */
.group {
  position: relative;
}

.group__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 8px 0;
}
.group__input:focus, .group__input:focus-visible, .group__input:focus-within, .group__input:active {
  outline: none;
}
.group__input:not(:-moz-placeholder-shown) + .group__label {
  top: -8px;
  font-size: 9px;
}
.group__input:focus + .group__label, .group__input:focus-within + .group__label, .group__input:focus-visible + .group__label, .group__input:not(:placeholder-shown) + .group__label {
  top: -8px;
  font-size: 9px;
}

.link-custom, .button--warning, .button--secondary, .button--primary {
  padding: 16px;
  text-align: center;
  margin: 4px;
}
.link-custom:hover, .button--warning:hover, .button--secondary:hover, .button--primary:hover {
  background-color: white;
  cursor: pointer;
}

.button--primary {
  background-color: green;
}

.button--secondary {
  background-color: rgb(0, 38, 128);
}

.button--warning {
  background-color: rgb(128, 0, 0);
}

.button--mixin {
  background-color: rgb(128, 0, 0);
  padding: 30px;
  text-align: center;
  margin: 4px;
  color: green;
  border: none;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.font-8px {
  font-size: 8px;
}

.font-16px {
  font-size: 16px;
}

.font-32px {
  font-size: 32px;
}

.bg--color-red {
  background-color: red;
}

.bg--color-yellow {
  background-color: yellow;
}

.bg--color-blue {
  background-color: blue;
}

.weight-normal {
  font-weight: 400;
}

.weight-bold {
  font-weight: 700;
}

.weight-bolder {
  font-weight: 900;
}

.aboutu {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aboutu .__firstSection {
  background-color: red;
}
.aboutu .__secondSection {
  background-color: red;
}
.aboutu > .aboutIcon {
  background-color: green;
}
.aboutu > .aboutIcon:hover {
  background-color: yellow;
}
.aboutu:hover {
  background-color: blue;
}

@media (min-width: 1224px) {
  .card {
    background-color: brown;
  }
  .text--random {
    font-size: 4rem;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 999;
  display: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  display: none;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.toogle-icon {
  fill: white;
}

.menu-toggle.js-close-menu {
  top: 0;
  left: 0;
  fill: white;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-button > .close-icon {
  fill: white;
}

@media (max-width: 1224px) {
  .team__list .team__item {
    width: 450px;
    flex-basis: calc((100% - 30px) / 2);
    height: auto;
  }
  .about__list {
    max-width: 768px;
    flex-basis: 768px;
  }
  .work__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media (max-width: 962px) {
  .work__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .menu-container {
    display: block;
  }
  .team__list .team__item {
    width: 450px;
    flex-basis: calc((100% - 30px) / 1);
  }
  .services__list .services__item {
    display: flex;
    width: 690px;
    flex-basis: 690px;
    color: var(--inactive-color);
  }
  .rating__list {
    flex-basis: calc((100% - 30px) / 1);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: center;
  }
  .rating__texts {
    flex-basis: calc((100% - 30px) / 1);
  }
  .work__item {
    flex-basis: calc((100% - 30px) / 1);
  }
  .contact__msg,
  .contact__reserv {
    width: 90%;
  }
  .about__gallery {
    max-width: 100%;
    justify-content: center;
  }
  .about__texts {
    max-width: 100%;
  }
  .services__item {
    width: 100%;
  }
  .rating__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rating__texts {
    width: 100%;
  }
  .team__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .work__list {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */